
닉: <%=  @nickname   %> //
사람수: <%=  @numofperson   %> //
현위치: <%=  @exactlocation   %> //
출발지: <%=  @depart   %> //
도착지: <%=  @arrival   %> //
<br>
<%= Time.current %>
<!-- Main Container starts -->
			<div class="main-container">

				<!-- Container fluid Starts -->
				<div class="container-fluid">

					<!-- Spacer starts -->
					<div class="spacer">

						<!-- Row Starts -->
						<div class="row">



                            <div class="blog-body">
								<form class="form-inline" role="form" method="post" action="/home/result/">

								  <input type="hidden" name="nickname" value="<%=@nickname %>">
								  <input type="hidden" name="numofperson" value="<%=@numofperson %>">
								  <input type="hidden" name="exactlocation" value="<%=@exactlocation %>">
								  <input type="hidden" name="depart" value="<%=@depart %>">
								  <input type="hidden" name="arrival" value="<%=@arrival %>">

								  <div class="form-group" for="exampleInputPassword2">
                                      <select class="form-control input-lg" id="simpleInput" name="dephour">
											<option value="x">시간 선택</option>
											<% (2..26).each do |n| %>
											<option value="<%= n %>" ><%= n %></option>
											<% end %>
      								</select>
								  </div>

								  <!-- <div class="form-group">
								    <label class="sr-only" for="exampleInputPassword2">Password</label>
								    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
								  </div> -->
                                  <div class="form-group">
  									<select class="form-control" name="depminute">
  										<option value="x">분 선택</option>
										<% (0..5).each do |n| %>
										<option value="<%= n*10 %>" ><%= n*10 %></option>
										<% end %>
  									</select>
  								</div>


                                  <div class="form-group no-margin">
  									<select class="form-control input-sm" name="waitingminute">
  										<option>검색범위옵션</option>
                                        <option value="0">+ 00</option>
                                        <option value="10">+ 10</option>
                                        <option value="20">+ 20</option>
  									</select>
  								</div>
                                <br><br>

								  <!-- <div class="checkbox">
								    <label>
								      <input type="checkbox"> Remember me
								    </label>
								  </div> -->
								  <button type="submit" class="btn btn-default">시간 선택완료</button>
								</form>


							</div>

                        </div>

                    </div>

                </div>

            </div>
